body {
    background-color: #F2ECBE;
}

h1 {
    color: white;
    font-family: "Taviraj", serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-image {
    opacity: .9;
}

.hero-title {
    letter-spacing: .5rem;
    text-shadow: 1px 1px #E2C799 ;
}

.hero-subtitle {
    color: rgb(252, 252, 252);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: right;
    margin: 20px;
}

.hero-description {
    background-color: #C08261;
    color: white;
    opacity: .9;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: right;
    margin: 20px;
    padding: 15px 20px;
}

.hero-button {
    text-align: right;
    margin: 20px;
}

.hero-button button {
    background-color: #9A3B3B;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
}